.clear        {
              clear:both;
              height:1px;
              overflow:hidden;
              }
ul.addaut     {
              list-style-type:none;
              margin:5px;
              padding:0px;
              }
ul.addaut li  {
              border:2px solid #ff7f50;
              background-color:#cccccc;
              height:1%; /* Fix for MSIE peekaboo bug */
              padding:5px;
              margin-bottom:10px;
              }
ul.addaut li .avatar {
              float:left;
              padding: 5px;
              margin-right:5px;   
              }